@page "/"

<h1>Blazor WASM PWA Camera</h1>



Camera opens straight away
<br />
<input type="file" accept="image/*" capture>
<br />
<br />

Users can select from galery or capture
<br />
<input type="file" accept="image/*">